attrs==23.2.0
cattrs==23.2.3
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.7
ijson==3.2.3
inflect==7.2.0
joblib==1.4.0
more-itertools==10.2.0
numpy==1.26.4
pandas==2.2.2
platformdirs==4.2.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
requests-cache==1.2.0
six==1.16.0
typeguard==4.2.1
typing_extensions==4.11.0
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.1
